<div>
    <h2>Education</h2>
    {{ range .Main }}
    <div class="cv-education">
        <h3>{{ .Name }}</h3>
        <span>Period</span>: {{ .Start }} - {{ .End }}<br>
        <span>Faculty</span>: {{ .Faculty }}<br>
        <span>Speciality</span>: {{ .Speciality }}<br>
        <span>Qualification</span>: {{ .Qualification }}<br>
    </div>
    {{ end }}
    <div class="cv-education">
        <h3>Additional education</h3>
        <ul>
            {{ range .Additional }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</div>
