<div id="cv-employments">
    <h2>Previous employments</h2>
    {{ range . }}
    <div class="cv-employment">
        <h3>{{ .Company }}</h3>
        <span>Period</span>: {{ .Start }} - {{ .End }}<br>
        <span>Position</span>: {{ .Position }}<br>
        <div class="cv-projects">
            <h3>Projects</h3>
            {{ range .Projects }}
            {{ range $projectName,$project := .}}
            <div class="cv-project">
                <h4>{{ $projectName }}</h4>
                <div>Technologies & tools: {{ $project.Stack }}</div>
                <div>Responsibilities: {{ $project.Responsibilities }}</div>
            </div>
            {{ end }}
            {{ end }}
        </div>
    </div>
    {{ end }}
</div>
